
ul#networks_sortable{
  // border: 1px solid;
  min-height: 50px;
  padding: 10px;
  li{
    width: 48px;
    height: 48px;
    //display: inline-block;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: move;

    &.ui-sortable-helper{
      // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      // border: 1px solid rgba(0,0,0,0.75);
      transform: scale(1.1);
      cursor: grab;
    }

    &.facebook{
      background-image: url('../icons/facebook.svg');
    }
    &.twitter{
      background-image: url('../icons/twitter.svg');
    }
    &.googleplus{
      background-image: url('../icons/googleplus.svg');
    }
    &.pinterest{
      background-image: url('../icons/pinterest.svg');
    }
    &.linkedin{
      background-image: url('../icons/linkedin.svg');
    }
    &.whatsapp{
      background-image: url('../icons/whatsapp.svg');
    }
  }
}