
.hpscl{
  display: flex;
}

.hpscl_icon {
  cursor: pointer;
  transition: all .3s;
  &:hover{
    transform: scale(1.1);
  }
}

.hpscl_before_content{}
.hpscl_after_content{}
.hpscl_thumbnails{
  position: absolute;
  z-index: 9000;
}

.hpscl_floating_left{
  position: fixed;
  top: 20%;
  transform: translateX(-85%);
  transition: all .4s;
  &:hover{
    transform: translateX(0);
  }
}
