.hpscl{display:flex}.hpscl_icon{cursor:pointer;transition:all .3s}.hpscl_icon:hover{transform:scale(1.1)}.hpscl_thumbnails{position:absolute;z-index:9000}.hpscl_floating_left{position:fixed;top:20%;transform:translateX(-85%);transition:all .4s}.hpscl_floating_left:hover{transform:translateX(0)}